* {
    font-family: 'HancomMalangMalang';
    font-weight: normal;
}

.root {
    align-items: center;
    justify-content: center;
}

/* 타이틀 */
.post-management {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 50px 0px;
    position: relative;
}

.post-management-vector {
    position: absolute;
    width: 10px;
    height: 15px;
    right: 220px;
}

.post-management-title-wrapper {
    margin-right: auto;
}

.post-management-title {
    font-weight: bold;
    font-size: 20px;
    color: #814E01;
    text-align: center;
    margin: 0 auto;
}

/* 카드 */
.post-card {
    padding-bottom: 30px;
}

.post-card-text {
    padding-right: 30px;
}

.post-card-text-title {
    font-family: "HancomMalangMalang";
    font-weight: bold;
    font-size: 13px;
    color: #404040;
}

.post-card-text-content {
    font-size: 12px;
    padding-bottom: 30px;
}

.post-card-text-date {
    font-size: 10px;
}

.post-card-text-who {
    font-size: 10px;
    font-weight: bold;
    color: #5ADE0A;
    opacity: 0.7;
}

/* 게시물 정보 */
.post-card {
    display: flex;
    flex-direction: row;
}

/* 게시물 이미지 */
.post-card-image {

}

.post-card-image-img {
    width: 110px;
    height: 100px;
    border-radius: 20px;
}

.post-card-image-category {
    font-size: 10px;
    color: #000000;
    opacity: 0.5;
    text-align: center;
}