body {
    background: rgba(255, 218, 175, 0.7);
}

.root {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

/* 회원가입 완료 박스 */
.sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    height: 490px;
    background: #FCFAF7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}


/* 회원가입이 완료되었습니다. */
.error {
    display: flex;
    margin-top: 12px;
    text-align: center;
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-size: 15px;
    color: #404040;
}

/* 로그인 버튼 */
.error-button {
    display: flex;
    width: 230px;
    height: 40px;
    left: 85px;
    top: 575px;
    background: #FF8F0B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    
    font-family: 'Hancom MalangMalang';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 125px;

    text-decoration: none;
    /* 버튼 밑에 그림자 */
    /* box-shadow: 0px 5px 0px 0px #A66615; */
}

/*  버튼 마우스 올렸을 때 효과 */
.sign-up-completed-button:hover {
    background: #eb8100;
}