body {
    background: rgba(255, 218, 175, 0.7);
}

.root {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

/* 로그인 박스 */
.sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 310px;
    height: 490px;
    background: #FCFAF7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.sign-up_top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    align-items: center;
}

.sign-up_top_back-button {
    display: flex;
    margin-left: 50px;
    margin-right: 64px;
}

.sign-up_top_title {
    display: flex;
    color: #404040;
    text-align: center;
    font-size: 15px;
    font-family: HancomMalangMalang;
    font-weight: 700;
}

/* 로그인 input */
.sign-up_wrapper {
    margin-top: 26px;
    color: #404040;
    font-size: 12px;
    font-family: HancomMalangMalang;
}

.sign-up_wrapper input{
    background: none;
    border: none;
    width: 220px;
    height: 35px;
    background-color: #D9D9D940;
    border-radius: 30px;
    padding-left: 15px;
    margin-left: 0px;
    margin-top: 10px;
}

.sign-up_wrapper input::placeholder {
    color: rgba(64, 64, 64, 0.40);
    font-size: 10px;
    font-family: NotoSansKR;
}

.sign-up_wrapper_title {
    margin-left: 10px;
}

.sign-up_button input{
    display: flex;
    margin-top: 20px;
    border: none;
    width: 230px;
    height: 39px;

    background: #FF8F0B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'HancomMalangMalang';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.sign-up_button {
    background: #FF8F0B;
    width: 230px;
    height: 38.954px;
    border-radius: 20px;
    color: #FFFFFF;
}



/* 아이콘 */
/* 비밀번호 보이게/안보이게 하기 */
.sign-up_id, .sign-up_pwd, .sign-up_pwd-check, .sign-up_nickname {
    position: relative;
}

.sign-up_id i, .sign-up_pwd i, .sign-up_pwd-check i, .sign-up_nickname i{
    position: absolute;
    right: 7%;
    top: 62%;
}

.next_button input[type="submit"]{
    background-color: rgba(64, 64, 64, 0.2);
    display: flex;
    justify-content: center;
    
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: HancomMalangMalang;

    margin-left: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.next_button input[type="submit"].active{
    background-color: rgba(255, 143, 11, 1);
}

