{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
    <div class="root">
        <div class="sign-up">
            <img src="{% static 'images/danger.png' %}">
            <div class="error">
                해당 기능을 사용할 수 있는<br>권한이 없습니다.
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'main:mainpage' %}" class="error-button">
                확인
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="error-button">
                로그인
            </a>
            {% endif %}

        </div>
    </div>
{% endblock %}