{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sign-up-completed.css' %}">
<body>
    <div class="root">
        <div class="sign-up">
            <div class="ckeck">
                <i class="fas fa-check-circle" style="color: #ff8f0b;"></i>
            </div>
            <div class="sign-up-completed">
                <span>
                    <b>회원가입</b>이 <br>완료되었습니다.
                </span>
            </div>
            <div class="text">
                관리자의 승인 후(1~2일 소요)<br>로그인이 가능합니다.
            </div>
            
            <a href="{% url 'main:intro' %}" class="sign-up-completed-button">
                가입완료
            </a>

        </div>
    </div>
{% endblock %}