
* {
    font-family: 'HancomMalangMalang';
    font-weight: normal;
}

/* benefits */
.intro {
    padding-top: 35px;
    align-items: center;
}

.benefits_banner {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 47px;
    padding-top: 10px;
}

.vector {
    padding-left: 47px;
}

.hr {
    height: 20px;
    width: 1px;
    margin: 0px;
    padding-bottom: 9px;
}

.benefits_title {
    color: #EC6130;
    font-weight: bold;
    padding: 12px 0px 0px 48px;
    font-size: 20px;
}

.benefits_contents {
    font-family: 'NotoSans';
    color: #404040;
    font-size: 8px;
    padding: 5px 0px 75px 8px;
}


/* choose */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
    color: #814E01;
    font-weight: bold;
}

.card:not(:last-child) {
    margin-right: 25px;
}

.business {
    font-size: 10px;
}

.choose {
    padding-bottom: 140px;
}

.highlight_circle {
    position: absolute;
    left: 120px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    background: rgba(255, 143, 11, 0.5);
    border-radius: 50px;
    z-index: 0;
}