* {
    font-family: 'HancomMalangMalang';
    font-weight: normal;
}

a:link {
    text-decoration: none;
    color: #814E01;
}

a:visited {
    text-decoration: none;
    color: #814E01;
}

a:hover {
    text-decoration: none;
    color: #814E01;
}

a:active {
    text-decoration: none;
    color: #814E01;
}

body {
    background: #fcfaf7;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: #814E01;
}

/* navë°” */
.navbar__menu li:nth-child(1) {
    padding: 0;
}

.navbar__menu li:nth-child(2) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    background: rgba(255, 143, 11, 0.5);
    border-radius: 50px;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    margin-top: 51px;
}

.profile-title {
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0px 10px 0px;
}

.profile-hr {
    background: #CCC9C9;
    border: 0;
    height: 1px;
    width: 250px;
}

/* content */
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.profile-content-postManagment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-content-postManagement-image {
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.profile-content-postManagement-title {
    font-size: 15px;
    font-weight: bold;
}