{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/mypage/nicknameChange.css' %}">
    <div class="title">
        <div class="title-image"><img src="{% static 'images/nicknameChange.png' %}"></div>
        <div class="title-content">닉네임 변경</div>
    </div>
    <a href="{% url 'mypage:information' %}"><img class="vector" src="{% static 'images/choose/Vector.png' %}"></a>
    <div class="nickname">
        <div class="nickname-title">닉네임</div>
        <form action="{% url 'mypage:change_nickname' %}" method="POST">
            {% csrf_token %}
        <input class="nickname-input" type="text" name="nickname" value="{{user.profile.nickname}}">
        <div class="button">
            <button class="submit" type="submit">닉네임 변경</button>
        </div>
        </form>
    </div>
{% endblock %}