{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/mypage/staffpostManagement.css' %}">
    <div class="root">
        <div class="post-management">
            <div class="post-management-vector"><a href="{% url 'mypage:information' %}"><img src="{% static 'images/choose/Vector.png' %}"></a></div>
            <div class="post-management-title-wrapper">
                <div class="post-management-title">게시물 작성 관리</div>
            </div>
        </div>

        <div class="wrap">
        {% for benefit in benefits %}
        <div class="post-card">
            <div class="post-card-text">
                <a href="{% url 'mypage:super_benefit_detail' benefit.id %}"><div class="post-card-text-title">제목:{{benefit.title}}</div></a>
                <div class="post-card-text-content">내용: {{benefit.summary}}...</div>
                <div class="post-card-text-date">작성일: {{benefit.pub_date|date:'Y/m/d H:i'}}</div>
                <div class="post-card-text-who">작성자: {{benefit.writer.profile.nickname}}</div>
            </div>
            <div class="post-card-image">
                {% if benefit.image %}
                    <a href="{% url 'mypage:super_benefit_detail' benefit.id %}"><img class="post-card-image-img" src="{{benefit.image.url}}"></a>
                {% endif %}
                <div class="post-card-image-category">제휴혜택>{{benefit.category_type}}</div>
            </div>
        </div>
        </a>
        {% endfor %}

        {% for welfare in welfares %}
        
        <div class="post-card">
            <div class="post-card-text">
                <a href="{% url 'mypage:super_welfare_detail' welfare.id %}"><div class="post-card-text-title">제목: {{welfare.title}}</div></a>
                <div class="post-card-text-content">내용: {{welfare.summary}}...</div>
                <div class="post-card-text-date">작성일: {{welfare.pub_date|date:'Y/m/d H:i'}}</div>
                <div class="post-card-text-who">작성자: {{welfare.writer.profile.nickname}}</div>
            </div>
            <div class="post-card-image">
                {% if welfare.image %}
                <a href="{% url 'mypage:super_welfare_detail' welfare.id %}"><img class="post-card-image-img" src="{{welfare.image.url}}"></a>
                {% endif %}
                <div class="post-card-image-category">학생복지>{{welfare.category_type}}</div>
            </div>
        </div>
        {% endfor %}
        {% for mainpost in mainposts %}
        
        <div class="post-card">
            <div class="post-card-text">
                <a href="{% url 'mypage:super_main_detail' mainpost.id %}"><div class="post-card-text-title">제목: {{mainpost.title}}</div></a>
                <div class="post-card-text-content">내용: {{mainpost.summary}}...</div>
                <div class="post-card-text-date">작성일: {{mainpost.pub_date|date:'Y/m/d H:i'}}</div>
                <div class="post-card-text-who">작성자: {{mainpost.writer.profile.nickname}}</div>
            </div>
            <div class="post-card-image">
                {% if mainpost.image %}
                <a href="{% url 'mypage:super_main_detail' mainpost.id %}"><img class="post-card-image-img" src="{{mainpost.image.url}}"></a>
                {% endif %}
                <div class="post-card-image-category">제휴혜택>{{mainpost.category_type}}</div>
            </div>
        </div>
        {% endfor %}
        <!-- footer -->
        </div>
        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>
    </div>
{% endblock %}