{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/mypage/userDelete.css' %}">
    <div class="title">
        <div class="title-image"><img src="{% static 'images/nicknameChange.png' %}"></div>
        <div class="title-content">회원 탈퇴</div>
    </div>
    <a href="{% url 'mypage:information' %}"><img class="vector" src="{% static 'images/choose/Vector.png' %}"></a>
    <div class="password">
        <div class="password-title">계정 비밀번호</div>
        <form action="{% url 'mypage:user_delete' %}" method="POST">
            {% csrf_token %}
        <input class="password-input" type="password" name="confirm_password">
        <div class="button">
            <button class="submit" type="submit">회원 탈퇴</button>
        </div>
        </form>
    </div>
{% endblock %}