{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="signup_page">
    <div class="signup_table">
        <form action="{% url 'accounts:signup' %}" method="POST">
            {% csrf_token %}
            <p>학번: <input type="text" name="username"></p>
            <p>비밀번호: <input type="password" name="password"></p>
            <p>비밀번호 확인: <input type="password" name="confirm"></p>
            <p>이름: <input type="text" name="nickname"></p>
            <p>학과:<select name="univ">
                <option value = "경영대학">경영대학</option>
                <option value = "예술대학">예술대학</option>
                <option value = "사회과학대학">사회과학대학</option>
                <option value = "AI융합대학">AI융합대학</option>
                <option value = "공과대학">공과대학</option>
                <option value = "불교대학">불교대학</option>
                <option value = "미래융합대학">미래융합대학</option>
                <option value = "이과대학">이과대학</option>
                <option value = "문과대학">문과대학</option>
                <option value = "경찰사법대학">경찰사법대학</option>
                <option value = "사범대학">사범대학</option>
                <option value = "법과대학">법과대학</option>
            </select></p>
            <button type="submit">Signup</button>
        </form>
    </div>
</div>

{% endblock %}
