{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/benefits/choose.css' %}">
    <div class="root">
    <div class="intro">
        <div class="benefits">
            <a href="{% url 'main:mainpage' %}"><img class="vector" src="{% static 'images/choose/Vector.png' %}" width="10px" height="15px"></a>
            <div class="benefits_title">제휴혜택</div>
            <div class="benefits_banner">
                <hr class="hr" color="#EC6130">
                <div class="benefits_contents">단과대 별로 다양한 서비스와 할인 혜택이 있습니다.<br>
                이뿐만 아니라 받을 수 있는 병원, 교육 할인 등 다양한 할인 혜택이 있습니다!</div>
            </div>
        </div>
    </div>

    <div class="choose">
        <div class="cards">
            <div class="card">
                <a href="{% url 'benefits:business' %}"><img src="{% static 'images/univ/business.png' %}" width="60px" height="60px"></a>
                <div class="business">경영대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:art' %}"><img src="{% static 'images/univ/art.png' %}" width="60px" height="60px"></a>
                <div class="business">예술대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:social' %}"><img src="{% static 'images/univ/apple.png' %}" width="60px" height="60px"></a>
                <div class="business">사회과학대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:ai' %}"><img src="{% static 'images/univ/ai.png' %}" width="60px" height="60px"></a>
                <div class="business">AI융합대학</div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <a href="{% url 'benefits:engineering' %}"><img src="{% static 'images/univ/engineer.png' %}" width="60px" height="60px"></a>
                <div class="business">공과대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:buddhism' %}"><img src="{% static 'images/univ/budi.png' %}" width="60px" height="60px"></a>
                <div class="business">불교대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:science' %}"><img src="{% static 'images/univ/science.png' %}" width="60px" height="60px"></a>
                <div class="business">이과대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:liberal' %}"><img src="{% static 'images/univ/korean.png' %}" width="60px" height="60px"></a>
                <div class="business">문과대학</div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <a href="{% url 'benefits:police' %}"><img src="{% static 'images/univ/police.png' %}" width="60px" height="60px"></a>
                <div class="business">경찰사법대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:education' %}"><img src="{% static 'images/univ/education.png' %}" width="60px" height="60px"></a>
                <div class="business">사범대학</div>
            </div>
            <div class="card">
                <a href="{% url 'benefits:law' %}"><img src="{% static 'images/univ/law.png' %}" width="60px" height="60px"></a>
                <div class="business">법과대학</div>
            </div>
        </div>
    </div>
    <footer>
        동국대학교 멋쟁이사자처럼 심바톤 1조<br>
        @ likelion_dongguk<br>
        ⓒ DGU Likelion. All rights reserved.
    </footer>
</div>
        <!-- footer -->
        
{% endblock %}