{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/benefits.css' %}">
{% if user.is_staff %}
<a href="{% url 'benefits:new' %}">글쓰기</a>
{% endif %}
    
    <div class="root">
        <!--단과대학 선택 페이지 이동 버튼-->
        <div class="move-selectpage-button">
            <i class="fas fa-chevron-left" style="color: #404040;"></i>
        </div>

        <!--oo대학 제휴혜택-->
        <div class="title">
            경영대학 제휴혜택
        </div>

        <!--oo대학 제휴혜택 페이지 소개-->
        <div class="introduce">
            경영대학 제휴혜택 페이지입니다.
        </div>

        <div class="line"></div>

        <div class="menu">
            <li><a href="">식당</a></li>
            <li><a href="">주점</a></li>
            <li><a href="">카페</a></li>
            <li><a href="">교육</a></li>
            <li><a href="">의료</a></li>
        </div>
        
        <div class="content">
            {% for benefit in first %}
            <div class="card">
                    <div class="card__item">
                        {% if benefit.image %}
                        <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                        {% endif %}
                        <div class="card__content">
                            <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">5.0</div>
                        </div>
                        <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                        {% if user in benefit.benefit_like.all %}
                        <div class="heart">
                            <a href="{% url 'benefits:mainpage_likes' benefit.id %}"><i class="fas fa-heart" style="color: #ff8f0b;"></i></a>
                        </div>
                        {% else %}
                        <div class="heart">
                            <a href="{% url 'benefits:mainpage_likes' benefit.id %}"><i class="far fa-heart" style="color: #ff8f0b;"></i></a>
                        </div>
                        {% endif %}
                        <div class="time">08:00-21:00</div>
                        <div class="benefit">동국대학교 학생 인증 시 10% 할인</div>
                    </div>
                </div>
            {% endfor %}
            
            {% for benefit in second %}
            <div class="card">
                    <div class="card__item">
                        {% if benefit.image %}
                        <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                        {% endif %}
                        <div class="card__content">
                            <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">5.0</div>
                        </div>
                        <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                        {% if user in benefit.benefit_like.all %}
                        <div class="heart">
                            <a href="{% url 'benefits:mainpage_likes' benefit.id %}"><i class="fas fa-heart" style="color: #ff8f0b;"></i></a>
                        </div>
                        {% else %}
                        <div class="heart">
                            <a href="{% url 'benefits:mainpage_likes' benefit.id %}"><i class="far fa-heart" style="color: #ff8f0b;"></i></a>
                        </div>
                        {% endif %}
                        <div class="time">08:00-21:00</div>
                        <div class="benefit">동국대학교 학생 인증 시 10% 할인</div>
                    </div>
                    </div>
            {% endfor %}
            </div>

        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>

    </div>
{% endblock %}