{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/benefits/benefits.css' %}">
{% if user.is_staff %}
<a href="{% url 'benefits:create' %}">글쓰기</a>
{% endif %}
    
    <div class="root">
        <!--단과대학 선택 페이지 이동 버튼-->
        <div class="move-selectpage-button">
            <a href="{% url 'benefits:choose' %}"><i class="fas fa-chevron-left" style="color: #404040;"></i></a>
        </div>

        <!--oo대학 제휴혜택-->
        <div class="title">
            {{univ}} 제휴혜택
        </div>

        <!--oo대학 제휴혜택 페이지 소개-->
        <div class="introduce">
            {{univ}} 제휴혜택 페이지입니다.
        </div>
        <div class="total-benefit-content-top">
            <button class="total-benefit-content__writingButton" onclick="location.href='{% url 'benefits:create' %}'"><img class="pencil" src="{% static 'images/pencil.png' %}">게시물 작성</button>
        </div>

        <div class="line"></div>

        <div class="menu">
            {% if univ == "경영대학" %}
                <li><a href="{% url 'benefits:business' %}">전체</a></li>
                <li><a href="{% url 'benefits:business_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:business_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:business_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:business_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:business_medical' %}">의료</a></li>
            {% elif univ == "예술대학" %}
                <li><a href="{% url 'benefits:art' %}">전체</a></li>
                <li><a href="{% url 'benefits:art_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:art_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:art_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:art_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:art_medical' %}">의료</a></li>
            {% elif univ == "사회과학대학" %}
                <li><a href="{% url 'benefits:social' %}">전체</a></li>
                <li><a href="{% url 'benefits:social_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:social_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:social_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:social_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:social_medical' %}">의료</a></li>
            {% elif univ == "AI융합대학" %}
                <li><a href="{% url 'benefits:ai' %}">전체</a></li>
                <li><a href="{% url 'benefits:ai_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:ai_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:ai_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:ai_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:ai_medical' %}">의료</a></li>
            {% elif univ == "공과대학" %}
                <li><a href="{% url 'benefits:engineering' %}">전체</a></li>
                <li><a href="{% url 'benefits:engineering_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:engineering_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:engineering_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:engineering_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:engineering_medical' %}">의료</a></li>
            {% elif univ == "불교대학" %}
                <li><a href="{% url 'benefits:buddhism' %}">전체</a></li>
                <li><a href="{% url 'benefits:buddhism_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:buddhism_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:buddhism_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:buddhism_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:buddhism_medical' %}">의료</a></li>
            {% elif univ == "미래융합대학" %}
                <li><a href="{% url 'benefits:future' %}">전체</a></li>
                <li><a href="{% url 'benefits:future_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:future_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:future_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:future_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:future_medical' %}">의료</a></li>
            {% elif univ == "이과대학" %}
                <li><a href="{% url 'benefits:science' %}">전체</a></li>
                <li><a href="{% url 'benefits:science_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:science_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:science_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:science_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:science_medical' %}">의료</a></li>
            {% elif univ == "문과대학" %}
                <li><a href="{% url 'benefits:liberal' %}">전체</a></li>
                <li><a href="{% url 'benefits:liberal_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:liberal_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:liberal_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:liberal_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:liberal_medical' %}">의료</a></li>
            {% elif univ == "경찰사법대학" %}
                <li><a href="{% url 'benefits:police' %}">전체</a></li>
                <li><a href="{% url 'benefits:police_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:police_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:police_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:police_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:police_medical' %}">의료</a></li>
            {% elif univ == "사범대학" %}
                <li><a href="{% url 'benefits:education' %}">전체</a></li>
                <li><a href="{% url 'benefits:education_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:education_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:education_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:education_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:education_medical' %}">의료</a></li>
            {% elif univ == "법과대학" %}
                <li><a href="{% url 'benefits:law' %}">전체</a></li>
                <li><a href="{% url 'benefits:law_restaurant' %}">식당</a></li>
                <li><a href="{% url 'benefits:law_pub' %}">주점</a></li>
                <li><a href="{% url 'benefits:law_cafe' %}">카페</a></li>
                <li><a href="{% url 'benefits:law_education' %}">교육</a></li>
                <li><a href="{% url 'benefits:law_medical' %}">의료</a></li>
            {% endif %}
        </div>
        
        <div class="content">
            <div class="card">
                {% for benefit in post_first_line %} <!--기간내에 있는 게시물들 중 첫번째 줄 루프문 돌림-->
                    <div class="card__item">
                        {% if benefit.image %}
                        <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                        {% endif %}
                        <div class="card__content">
                            <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">{{benefit.benefit_rate_average}}</div>
                        </div>
                        <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                        <span href="#" class = "like" name="{{benefit.id}}" value="Like">
                            {% if user in benefit.benefit_like.all %}
                            <div class="heart">
                                <i class="fas fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% else %}
                            <div class="heart">
                                <i class="far fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% endif %}
                        </span>
                        <div class="time">
                            {% if benefit.start_time and benefit.end_time %}
                                {{benefit.start_time|time:"H:i"}}-{{benefit.end_time|time:"H:i"}}
                            {% elif benefit.start_time %}
                                {{benefit.start_time|time:"H:i"}}-
                            {% elif benefit.end_time %}
                                ~{{benefit.end_time|time:"H:i"}}
                            {% endif %}
                        </div>
                        <div class="benefit">{{benefit.body}}</div>
                    </div>
                {% endfor %}
                
                {% for benefit in end_first_line %} <!--기간이 지난 게시물들 중 첫번째 줄 루프문 돌림-->
                    <div class="card__item">
                        <div class="card__item__end">
                            <p>혜택 기간이 지난<br> 게시물입니다</p>
                        </div>
                        {% if benefit.image %}
                        <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                        {% endif %}
                        <div class="card__content">
                            <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">{{benefit.benefit_rate_average}}</div>
                        </div>
                        <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                        <span href="#" class = "like" name="{{benefit.id}}" value="Like">
                            {% if user in benefit.benefit_like.all %}
                            <div class="heart">
                                <i class="fas fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% else %}
                            <div class="heart">
                                <i class="far fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% endif %}
                        </span>
                        <div class="time">{{benefit.start_time|time:"H:i"}}-{{benefit.end_time|time:"H:i"}}</div>
                        <div class="benefit">{{benefit.body}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="card">
                {% for benefit in post_second_line %} <!--기간내에 있는 게시물들 중 두번째 줄 루프문 돌림-->
                <div class="card__item">
                    {% if benefit.image %}
                    <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                    {% endif %}
                    <div class="card__content">
                        <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                        <div class="star">
                            <i class="far fa-star" style="color: #ffd66b;"></i>
                        </div>
                        <div class="star-count">{{benefit.benefit_rate_average}}</div>
                    </div>
                    <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                    <span href="#" class = "like" name="{{benefit.id}}" value="Like">
                        {% if user in benefit.benefit_like.all %}
                        <div class="heart">
                            <i class="fas fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                        </div>
                        {% else %}
                        <div class="heart">
                            <i class="far fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                        </div>
                        {% endif %}
                    </span>
                    <div class="time">{{benefit.start_time|time:"H:i"}}-{{benefit.end_time|time:"H:i"}}</div>
                    <div class="benefit">{{benefit.body}}</div>
                </div>
                {% endfor %}
                
                {% for benefit in end_second_line %} <!--기간이 지난 게시물들 중 두번째 줄 루프문 돌림-->
                    <div class="card__item">
                        <div class="card__item__end">
                            <p>혜택 기간이 지난<br> 게시물입니다</p>
                        </div>
                        {% if benefit.image %}
                        <a href="{% url 'benefits:detail' benefit.id %}"><img class="card__item__img" src={{benefit.image.url}}></a>
                        {% endif %}
                        <div class="card__content">
                            <div class="name"><a href="{% url 'benefits:detail' benefit.id %}">{{benefit.title}}</a></div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">{{benefit.benefit_rate_average}}</div>
                        </div>
                        <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                        <span href="#" class = "like" name="{{benefit.id}}" value="Like">
                            {% if user in benefit.benefit_like.all %}
                            <div class="heart">
                                <i class="fas fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% else %}
                            <div class="heart">
                                <i class="far fa-heart" id = "like-icon-{{benefit.id}}" style="color: #ff8f0b;"></i>
                            </div>
                            {% endif %}
                        </span>
                        <div class="time">{{benefit.start_time|time:"H:i"}}-{{benefit.end_time|time:"H:i"}}</div>
                        <div class="benefit">{{benefit.body}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>

    </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            method : 'GET',
            url:"{% url 'benefits:benefit_like_toggle' %}",
            data:{'pk':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.benefit_like_count == null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                        $(`#like-icon-${pk}`).removeClass();
                        $(`#like-icon-${pk}`).addClass('fas fa-heart');
                    }
                    else{
                        $(`#like-icon-${pk}`).removeClass();
                        $(`#like-icon-${pk}`).addClass('far fa-heart');
                    }
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.");
            },
        })
    })
</script>
{% endblock %}