{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{%url 'benefits:create'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <p>제목 : <input type="text" name="title"></p>
    <p>게시판을 선택해주세요: 
        <select name="category_univ">
            <option value = "business">경영대학</option>
            <option value = "art">예술대학</option>
            <option value = "social">사회과학대학</option>
            <option value = "ai">AI융합대학</option>
            <option value = "engineering">공과대학</option>
            <option value = "buddhism">불교대학</option>
            <option value = "future">미래융합대학</option>
            <option value = "science">이과대학</option>
            <option value = "liberal">문과대학</option>
            <option value = "police">경찰사법대학</option>
            <option value = "education">사범대학</option>
            <option value = "law">법과대학</option>
        </select>
        <select name="category_type">
            <option value = "restaurant">식당</option>
            <option value = "pub">주점</option>
            <option value = "cafe">카페</option>
            <option value = "educate">교육</option>
            <option value = "medical">의료</option>
        </select>
    </p>
    <p>시작 날짜: <input type="datetime-local" name="start_date"></p>
    <p>종료 날짜: <input type="datetime-local" name="end_date"></p>
    <p>가게 운영 시간 : <input type = "time" name = "start_time"> ~ <input type = "time" name = "end_time"></p>
    <p>주소 : <input type="text" name="address"></p>
    <p>이미지: <input type="file" name="image"></p>
    <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
</form>

{% endblock %}


