{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{%url 'benefits:create'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <p>제목 : <input type="text" name="title"></p>
    <p>시작 날짜: <input type="datetime-local" name="start_date"></p>
    <p>끝나는 날짜: <input type="datetime-local" name="due_date"></p>
    <p>이미지: <input type="file" name="image"></p>
    <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
    <button type="submit">제출</button>
</form>

{% endblock %}


