{% load static %}
<nav class="navbar">

    <div class="navbar__logo">
        <a href="{% url 'main:mainpage' %}"><img src="{% static 'images/logo.png' %}"></a>
    </div>

    <ul class="navbar__menu">
        <li><a href="{% url 'benefits:mainpage' %}">제휴혜택</a></li>
        <li><a href="{% url 'welfare:mainpage' %}">학생복지</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'mypage:information' %}"><i class="fas fa-user-circle" style="color: #814e01;"></i></a></li>
        {% else %}
            <li>
                <span><a href="{% url 'accounts:login' %}">로그인/</a></span>
                <span><a href="{% url 'accounts:signup' %}">회원가입</a></span>
            </li>
        {% endif %}
    </ul>

</nav>