{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
    <div class="root">
        <div class="highlight_circle"></div>
        <!--웹 사이트 설명-->
        <div class="intro">
            <div class="intro__title">
                <p>
                    <span class="highlight">동</span>국대 학<span class="highlight">생</span>들아
                    혜택 <span class="highlight">챙겨</span>!
                </p>
            </div>
            <div class="intro__content">
                <p>
                    <span class="highlight2">동생챙겨</span>는 동국대학교 학생들이 자신의 단과대학별로<br>
                    <span class="highlight">제휴 혜택</span>과 <span class="highlight">학생 복지</span>를 한 눈에 볼 수 있도록 만들어진 웹 사이트입니다. 
                </p>
            </div>
        </div>

        <!--로고 설명-->
        <div class="logo">
            <div class="logo__img">
                <img src="{% static 'images/logo2.png' %}">
            </div>
            <div class="logo__describe">
                <p>
                    <span class="highlight3">동생챙겨</span>의 마스코드<br>
                    '<span class="highlight4">동챙이</span>'
                </p>
            </div>
        </div>

        <div class="team">
            <div class="team__name">
                심바톤 1조 team '동혜물과'
            </div>
            <div class="team__member">
                <img src="{% static 'images/member.png' %}">
            </div>
        </div>
        <div class="footer-div"></div>
        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>
    </div>
    
{% endblock %}