{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="root">
    
        <div class="container">
            <div class="total-benefit">
                <div class="total-benefit__button">동국대 전체 학생 혜택</div>
                <div class="total-benefit__describe">
                    <p>
                    <span class="highlight1">동생챙겨</span>는 단과대학뿐만 아니라 모든 학생들이 누릴 수 있는<br>
                    <span class="highlight2">전체 학생 혜택</span>에 대한 정보도 포함하고 있습니다.
                    </p>
                </div>
            </div>

            <div class="total-benefit-content">

                <div class="total-benefit-content__item">
                    <div class="total-benefit-content-top">
                        <div class="total-benefit-content__item__category">문화생활</div>
                        {% if request.user.is_staff %}
                        <button class="total-benefit-content__writingButton" onclick = "location.href='{% url 'main:create' %}'"><img class="pencil" src="{% static 'images/pencil.png' %}">게시물 작성</button>
                        {% endif %}
                    </div>
                    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
                    space-between="30" loop="true">

                    <swiper-slide>
                        {% for post in culture_posts_1 %}
                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}

                        {% for post in culture_posts_2 %}
                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}
                        
                    </swiper-slide>

                    <swiper-slide>

                        {% for post in culture_posts_3 %}
                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}

                        {% for post in culture_posts_4 %}
                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}
                    </swiper-slide>

                    <swiper-slide>Slide 3</swiper-slide>
                    <swiper-slide>Slide 4</swiper-slide>
                    <swiper-slide>Slide 5</swiper-slide>

                </swiper-container>


                <!--카페&식당-->
                <div class="total-benefit-content__item">
                    <div class="total-benefit-content__item__category">카페&식당</div>
                </div>

                <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
                    space-between="30" loop="true">
                    
                    <swiper-slide>

                        {% for post in cafe_posts %}
                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        
                    </swiper-slide>

                    <swiper-slide>

                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}

                    </swiper-slide>

                    <swiper-slide>Slide 3</swiper-slide>
                    <swiper-slide>Slide 4</swiper-slide>
                    <swiper-slide>Slide 5</swiper-slide>

                </swiper-container>




                <!--기타-->
                <div class="total-benefit-content__item">
                    <div class="total-benefit-content__item__category">기타 서비스</div>
                </div>

                <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
                    space-between="30" loop="true">

                    <swiper-slide>

                        {% for post in etc_posts %}
                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        
                    </swiper-slide>

                    <swiper-slide>

                        <div class="total-benefit-content__item__slide__background1">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name"><a href="{% url 'main:detail' post.id %}">{{post.title}}</a></div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                            {% if post.start_time and post.end_time %}
                                {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                            {% elif post.start_time %}
                                {{post.start_time|time:"H:i"}}-
                            {% elif post.end_time %}
                                ~{{post.end_time|time:"H:i"}}
                            {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            {% if post.image %}
                            <a href="{% url 'main:detail' post.id %}"><img class="taegeukdang" src="{{post.image.url}}"></a>
                            {% endif %}
                            <div class="slide-content">
                                <div class="name">{{post.title}}</div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">{{post.mainpost_rate_average}}</div>
                            </div>
                            <div class="heart">
                                <span href="#" class = "like" name="{{post.id}}" value="Like">
                                    {% if user in post.mainpost_like.all %}
                                        <i class="fas fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% else %}
                                        <i class="far fa-heart" id = "like-icon-{{post.id}}" style="color: #ff8f0b;"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="time">
                                {% if post.start_time and post.end_time %}
                                    {{post.start_time|time:"H:i"}}-{{post.end_time|time:"H:i"}}
                                {% elif post.start_time %}
                                    {{post.start_time|time:"H:i"}}-
                                {% elif post.end_time %}
                                    ~{{post.end_time|time:"H:i"}}
                                {% endif %}
                            </div>
                            <div class="benefit">{{post.body}}</div>
                        </div>
                        {% endfor %}
                    </swiper-slide>

                    <swiper-slide>Slide 3</swiper-slide>
                    <swiper-slide>Slide 4</swiper-slide>
                    <swiper-slide>Slide 5</swiper-slide>

                </swiper-container>

                <div class="college">
                    <a href="{% url 'benefits:choose' %}">
                    <div class="college-button">
                        <div class="college-benefit__title">
                            <p>
                                단과대학별 <span class="highlight3">제휴혜택</span>
                            </p>
                        </div>
                        <div class="college-benefit__go">보러가기</div>
                        <div class="college-benefit__arrow">
                            <i class="fas fa-long-arrow-alt-right" style="color: #ff8f0b;"></i>
                        </div>
                    </div>
                    </a>

                    <a href="{% url 'welfare:choose' %}">
                    <div class="college-button">
                        <div class="college-benefit__title">
                            <p>
                                단과대학별 <span class="highlight3">학생복지</span>
                            </p>
                        </div>
                        <div class="college-benefit__go">보러가기</div>
                        <div class="college-benefit__arrow">
                            <i class="fas fa-long-arrow-alt-right" style="color: #ff8f0b;"></i>
                        </div>
                    </div>
                    </a>
                </div>


            </div>
        </div>

        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            method : 'GET',
            url:"{% url 'main:mainpost_like_toggle' %}",
            data:{'pk':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.mainpost_like_count == null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                        $(`#like-icon-${pk}`).removeClass();
                        $(`#like-icon-${pk}`).addClass('fas fa-heart');
                    }
                    else{
                        $(`#like-icon-${pk}`).removeClass();
                        $(`#like-icon-${pk}`).addClass('far fa-heart');
                    }
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.");
            },
        })
    })
</script>
{% endblock %}