{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="root">
        <div class="container">
            <div class="total-benefit">
                <div class="total-benefit__button">동국대 전체 학생 혜택</div>
                <div class="total-benefit__describe">
                    <p>
                    <span class="highlight1">동생챙겨</span>는 단과대학뿐만 아니라 모든 학생들이 누릴 수 있는<br>
                    <span class="highlight2">전체 학생 혜택</span>에 대한 정보도 포함하고 있습니다.
                    </p>
                </div>
            </div>

            <div class="total-benefit-content">
                <div class="total-benefit-content__item">
                    <div class="total-benefit-content__item__category">문화생활</div>
                    <div class="total-benefit-content__item__slide">
                        <img class="arrow-left" src="{% static 'images/arrow_left.png' %}">
                        <img class="arrow-right" src="{% static 'images/arrow_right.png' %}">

                        <div class="total-benefit-content__item__slide__background1">
                            <img class="taegeukdang" src="{% static 'images/태극당.png' %}">
                            <div class="slide-content">
                                <div class="name">태극당</div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">5.0</div>
                            </div>
                                <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                                <div class="heart">
                                    <i class="far fa-heart" style="color: #ff8f0b;"></i>
                                </div>
                                <div class="time">08:00-21:00</div>
                                <div class="benefit">동국대학교 학생 인증 시 10% 할인</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            <img class="taegeukdang" src="{% static 'images/대한극장.png' %}">
                            <div class="slide-content">
                            <div class="name">대한극장</div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">5.0</div>
                        </div>
                            <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                            <div class="heart">
                                <i class="far fa-heart" style="color: #ff8f0b;"></i>
                            </div>
                            <div class="benefit">동국대학교 학생 인증 시 영화표 8000원</div>
                        </div>
                    </div>
                </div>




                <div class="total-benefit-content__item">
                    <div class="total-benefit-content__item__category">카페&식당</div>
                    <div class="total-benefit-content__item__slide">
                        <img class="arrow-left" src="{% static 'images/arrow_left.png' %}">
                        <img class="arrow-right" src="{% static 'images/arrow_right.png' %}">

                        <div class="total-benefit-content__item__slide__background1">
                            <img class="taegeukdang" src="{% static 'images/태극당.png' %}">
                            <div class="slide-content">
                                <div class="name">태극당</div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">5.0</div>
                            </div>
                                <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                                <div class="heart">
                                    <i class="far fa-heart" style="color: #ff8f0b;"></i>
                                </div>
                                <div class="time">08:00-21:00</div>
                                <div class="benefit">동국대학교 학생 인증 시 10% 할인</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            <img class="taegeukdang" src="{% static 'images/대한극장.png' %}">
                            <div class="slide-content">
                            <div class="name">대한극장</div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">5.0</div>
                        </div>
                            <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                            <div class="heart">
                                <i class="far fa-heart" style="color: #ff8f0b;"></i>
                            </div>
                            <div class="benefit">동국대학교 학생 인증 시 영화표 8000원</div>
                        </div>
                    </div>
                </div>




                <div class="total-benefit-content__item">
                    <div class="total-benefit-content__item__category">기타 서비스</div>
                    <div class="total-benefit-content__item__slide">
                        <img class="arrow-left" src="{% static 'images/arrow_left.png' %}">
                        <img class="arrow-right" src="{% static 'images/arrow_right.png' %}">

                        <div class="total-benefit-content__item__slide__background1">
                            <img class="taegeukdang" src="{% static 'images/태극당.png' %}">
                            <div class="slide-content">
                                <div class="name">태극당</div>
                                <div class="star">
                                    <i class="far fa-star" style="color: #ffd66b;"></i>
                                </div>
                                <div class="star-count">5.0</div>
                            </div>
                                <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                                <div class="heart">
                                    <i class="far fa-heart" style="color: #ff8f0b;"></i>
                                </div>
                                <div class="time">08:00-21:00</div>
                                <div class="benefit">동국대학교 학생 인증 시 10% 할인</div>
                        </div>

                        <div class="total-benefit-content__item__slide__background2">
                            <img class="taegeukdang" src="{% static 'images/대한극장.png' %}">
                            <div class="slide-content">
                            <div class="name">대한극장</div>
                            <div class="star">
                                <i class="far fa-star" style="color: #ffd66b;"></i>
                            </div>
                            <div class="star-count">5.0</div>
                        </div>
                            <img class="calendar" src="{% static 'images/calendar.png' %}"></img>
                            <div class="heart">
                                <i class="far fa-heart" style="color: #ff8f0b;"></i>
                            </div>
                            <div class="benefit">동국대학교 학생 인증 시 영화표 8000원</div>
                        </div>
                    </div>
                </div>

                <div class="college">
                    <div class="college-button">
                        <div class="college-benefit__title">
                            <p>
                                단과대학별 <span class="highlight3">제휴혜택</span>
                            </p>
                        </div>
                        <div class="college-benefit__go">보러가기</div>
                        <div class="college-benefit__arrow">
                            <i class="fas fa-long-arrow-alt-right" style="color: #ff8f0b;"></i>
                        </div>
                    </div>

                    <div class="college-button">
                        <div class="college-benefit__title">
                            <p>
                                단과대학별 <span class="highlight3">학생복지</span>
                            </p>
                        </div>
                        <div class="college-benefit__go">보러가기</div>
                        <div class="college-benefit__arrow">
                            <i class="fas fa-long-arrow-alt-right" style="color: #ff8f0b;"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <footer>
            동국대학교 멋쟁이사자처럼 심바톤 1조<br>
            @ likelion_dongguk<br>
            ⓒ DGU Likelion. All rights reserved.
        </footer>

    </div>

{% endblock %}