{% extends 'base.html' %}
{% load static %}

{% block content %}
<script defer src="{% static 'js/star.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/benefits/card.css' %}">
<link rel="stylesheet" href="{% static 'css/benefits/review.css' %}">
<div class="root">
    <div class="gray-box"></div>
    <div class="item">
        <img class="vector" src="{% static 'images/choose/Vector.png' %}" width="10px" height="15px">
    </div>

    <div class="item">
        <form action="{% url 'main:review' mainpost.id %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
        <div class="review-box">
            <div class="question"><span class="store-name">{{mainpost.title}}</span>는<br>어떠셨나요?</div>
            <div class="evaluation">
                <div class="rating_box">
                    <div class="rating">
                    ★★★★★
                    <span class="rating_star">★★★★★</span>
                    <input type="range" value="1" step="1" min="0" max="5" name="mainpost_rate">
                    </div>
                </div>
                <img class="refresh" src="{% static 'images/review/refresh.png' %}" height="17px" width="20px">
            </div>
                    <input type="text" class="input-comment" placeholder="코멘트를 남겨주세요." name="content">
                <div class="buttons">
                    <button type="button" class="cancel" onclick="location.href='{% url 'main:detail' mainpost.id %}'">취소</button>
                    <button type="submit" class="submit">등록</button>
                </div>
                    <!-- <input type="number" name="mainpost_rate"> -->
        </div>
        </form>
            <div class="card">
                {% if mainpost.image %}
                <div  class="card-img">
                    <img class="store-img" src="{{mainpost.image.url}}">
                </div>
                {% endif %}
                
                <div class="card-head">
                    <div class="head-content">
                        <div class="store-title">{{mainpost.title}}</div>
                        <hr class="title_hr">
                        <div class="stars">
                            <img src="{% static 'images/card/star.png' %}" height="12px" width="11px">
                            <div class="grade">{{mainpost.mainpost_rate_average}}</div>
                        </div>
                        <img src="{% static 'images/card/pen.png' %}" height="13px" width="13px">
                        <div class="grades"><a href="{% url 'main:review' mainpost.id %}">평가하기/코멘트</a></div>
                    </div>
                    {% if user in mainpost.mainpost_like.all %}
                        <a href="{% url 'main:detail_likes' mainpost.id %}"><img class="heart" src="{% static 'images/card/heart.png' %}" height="21px" width="23px"></a>
                    {% else %}
                        <a href="{% url 'main:detail_likes' mainpost.id %}"><img class="heart" src="{% static 'images/card/heart.png' %}" height="21px" width="23px"></a>
                    {% endif %}
                </div>
        
                <div class="card-main">
                    <div class="time">
                        {% if mainpost.start_time and mainpost.end_time %}
                            {{mainpost.start_time|time:"H:i"}}-{{mainpost.end_time|time:"H:i"}}
                        {% elif mainpost.start_time %}
                            {{mainpost.start_time|time:"H:i"}}~
                        {% elif mainpost.end_time %}
                            ~{{mainpost.end_time|time:"H:i"}}
                        {% endif %}
                    </div>
                    <div class="address">{{mainpost.address}}</div>
                    <div class="benefit">{{mainpost.body}}</div>
                    <div class="dates">
                    </div>
                </div>
                <hr class="comment-hr">
        
                <div class="card-comment">
                    <div class="comment-count">코멘트 {{comments_count}}</div>
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="users">
                            {% if comment.writer.is_superuser %}
                            <img src="{% static 'images/admin_profile.png' %}" height="15px" width="15px">
                            {% elif comment.writer.is_staff %}
                            <img src="{{comment.writer.profile.image.url}}" height="15px" width="15px">
                            {% else %}
                            <img src="{% static 'images/card/user.png' %}" height="15px" width="15px">
                            {% endif %}
                            <div class="nickname">{{comment.writer.profile.nickname}}</div>
                            <img src="{% static 'images/card/star.png' %}" height="12px" width="11px">
                            <div class="grade">{{comment.mainpost_rate}}</div>
                        </div>
                        <div class="likes">
                            <img src="{% static 'images/card/like.png' %}" height="13px" width="13px">
                            <div class="like">{{comment.comment_like_count}}</div>
                        </div>
                    </div>
        
                    <div class="content">{{comment.content}}</div>
                    <div class="comment-date">{{comment.pub_date}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="margin"></div>
        </div>
        
    <footer>
        동국대학교 멋쟁이사자처럼 심바톤 1조<br>
        @ likelion_dongguk<br>
        ⓒ DGU Likelion. All rights reserved.
    </footer>
        </div>

{% endblock %}