{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_staff %}
<a href="{% url 'main:new' %}">글 쓰기</a>
{% elif user.is_superuser %}
<a href="{% url 'main:new' %}">글 쓰기</a>
{% endif %}

<h1>글 목록</h1>

<div>
    {% for blog in blogs %}
    <div>
        <h3>{{blog.title}}</h3>
        {{blog.writer}}<br>
        {{blog.summary}}
        <a href="{%url 'main:detail' blog.id %}">...자세히</a>
        <br>
    </div>
    {% endfor %}
</div>

{% endblock %}

