{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel = "stylesheet" href = "{% static 'css/choose.css' %}">
{% if user.is_staff %}
<a href="{% url 'welfare:new' %}">글쓰기</a>
{% endif %}
<div class="root">
    <div class="intro">
        <div class="benefits">
            <a href="{% url 'main:mainpage' %}"><img class="vector" src="{% static 'images/choose/Vector.png' %}" width="10px" height="15px"></a>
            <div class="benefits_title">학생복지</div>
            <div class="benefits_banner">
                <hr class="hr" color="#EC6130">
                <div class="benefits_contents">단과대 별로 충무로에서 다양한 서비스와 할인 혜택이 있다는 것 알고 계신가요?<br>
                이뿐만 아니라 동대생으로서 받을 수 있는 병원, 교육 할인 등 다양한 할인 혜택이 있습니다!</div>
            </div>
        </div>
    </div>

    <div class="choose">
        <div class="cards">
            <div class="card">
                <a href="{% url 'welfare:business' %}"><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">경영대학</div>
            </div>
            <div class="card">
                <a href="{% url 'welfare:art' %}"><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">예술대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">사회과학대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">AI융합대학</div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">공과대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">불교대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">미래융합대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">이과대학</div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">문과대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">경찰사법대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">사범대학</div>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'images/choose/practiceLogo.png' %}" width="50px" height="50px"></a>
                <div class="business">법과대학</div>
            </div>
        </div>
    </div>
    <footer>
        동국대학교 멋쟁이사자처럼 심바톤 1조<br>
        @ likelion_dongguk<br>
        ⓒ DGU Likelion. All rights reserved.
    </footer>
</div>



{% endblock %}