{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/welfare/card.css' %}">
<div class="root">
{% if user == welfare.writer %}
<a href="{% url 'welfare:delete' welfare.id %}">삭제하기</a>
{% elif user.is_superuser %}
<a href="{% url 'welfare:delete' welfare.id %}">삭제하기</a>
{% endif %}

<div class="item">
    <img class="vector" src="{% static 'images/choose/Vector.png' %}" width="10px" height="15px">
</div>

<div class="item">
    <div class="card">
        {% if welfare.image %}
        <div  class="card-img">
            <img class="store-img" src="{{welfare.image.url}}">
        </div>
        {% endif %}
        
        <div class="card-head">
            <div class="head-content">
                <div class="store-title">{{welfare.title}}</div>
                <hr class="title_hr">
                <img src="{% static 'images/card/pen.png' %}" height="13px" width="13px">
                <div class="grades"><a href="{% url 'welfare:review' welfare.id %}">코멘트</a></div>
            </div>
            {% if user in welfare.welfare_like.all %}
                <a href="{% url 'welfare:detail_likes' welfare.id %}"><img class="heart" src="{% static 'images/card/fheart.png' %}" height="21px" width="23px"></a>
            {% else %}
                <a href="{% url 'welfare:detail_likes' welfare.id %}"><img class="heart" src="{% static 'images/card/heart.png' %}" height="21px" width="23px"></a>
            {% endif %}
        </div>

        <div class="card-main">
            <div class="time">{{welfare.start_time|time:"H:i"}}-{{welfare.end_time|time:"H:i"}}</div>
            <div class="address">{{welfare.address}}</div>
            <div class="benefit">{{welfare.body}}</div>
            <div class="dates">
                <img src="{% static 'images/card/date.png' %}" height="10px" width="11px">
                <div class="date">{{welfare.start_date.date}}~{{welfare.end_date.date}}</div>
            </div>
        </div>
        <!-- 댓글 들어가는 부분 -->
        <hr class="comment-hr">
        
        <div class="card-comment">
            <div class="comment-count">코멘트 {{comments_count}}</div>
            {% for comment in comments %}
            <div class="comment">
                <div class="users">
                    <img src="{% static 'images/card/user.png' %}" height="15px" width="15px">
                    <div class="nickname">{{comment.writer}}</div>
                </div>
                <div class="likes">
                    <a href="{% url 'welfare:comment_likes' comment.id %}"><img src="{% static 'images/card/like.png' %}" height="13px" width="13px"></a>
                    <div class="like">{{comment.comment_like_count}}</div>
                </div>
            </div>

            <div class="content">{{comment.content}}</div>
            <div class="comment-date">{{comment.pub_date|date:'Y/m/d H:i'}} {% if user == comment.writer %}<a href="{% url 'welfare:delete_comment' comment.id %}" style="font-size : 10px">삭제하기</a> <a href="{% url 'welfare:edit_comment' comment.id %}" style="font-size : 10px">수정하기</a></div>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="margin"></div>
</div>

{% endblock %}