.navbar__menu li:nth-child(1) {
    padding: 0;
}

.navbar__menu li:nth-child(2) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    background: rgba(255, 143, 11, 0.5);
    border-radius: 50px;
}

.vector {
    padding: 35px 0px 37px 47px;
}

/* card */
.card {
    width: 322px;
    height: 465px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20% 20% 10% 10%;
    font-family: 'NanumSquare Neo';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img {
    height: 200px;
    width: 322px;
    display: flex;
}

.store-img {
    height: 200px;
    width: 322px;
    background-size: cover;
    border-radius: 20% 20% 0% 0%;
}


/* card head */
.card-head {
    padding: 10px 0px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    font-family: 'NanumSquareNeo-900';

}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 5px 0px;
}

.date {
    font-size: 6px;
}

.comment-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stars {
    padding: 0px 5px 0px 0px;
}

.grade {
    font-size: 8px;
    font-family: NotoSansKR;
}

.grades {
    font-family: HancomMalangMalang;
    font-size: 10px;
    padding: 0px 0px 0px 5px;
}

.heart {
    padding: 0px 15px 0px 0px;
}

.head-content {
    display: flex;
    flex-direction: row;
}

.title_hr {
    width: 20px;
    transform:rotate(90deg);
    background: #CCC9C9;
    border: 0;
    height: 1px;
    position: relative; 
    top: 4px; 
}

.store-title {
    font-family: HancomMalangMalang;
    font-weight: bold;
    font-size: 20px;
}

/* card main */
.card-main {
    padding: 0px 0px 0px 15px;
    /* height: 95px; */
    font-family: 'NanumSquare Neo';
    font-weight: normal;
}

.time {
    font-size: 10px;
    padding: 10px 0px 0px 0px;
}

.address {
    font-size: 10px;
    padding: 5px 0px 0px 0px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 5px 0px;
}

/* 수정/삭제 버튼 생성 */
.button {
    text-decoration: none;
    display: flex;
}

.button_modify {
    display: flex;
    width: 35px;
    height: 20px;
    background-color: rgba(255, 218, 175, 0.5);
    border-radius: 10px;
    color: #F70;
    text-align: center;
    font-size: 9px;
    font-family: HancomMalangMalang;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_modify:hover {
    background-color: rgba(186, 159, 128, 0.5);
}

.button_delete {
    display: flex;
    border: none;
    width: 35px;
    height: 20px;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 10px;
    color: #404040;
    text-align: center;
    font-size: 9px;
    font-family: HancomMalangMalang;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
}

.button_delete:hover {
    background-color: rgba(162, 162, 162, 0.5);
}

.benefit {
    font-family: NanumSquareNeo-900;
    font-size: 10px;
    padding: 5px 0px 0px 0px;
    color: #FFA337;
}


.comment-hr {
    background: #CCC9C9;
    border: 0;
    width: 320px; 
    height: 1px;
}
/* card comment */

.card-comment {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 0px 0px 0px 35px;
    overflow-y: scroll;
}

/* 스크롤 바 너비 설정 */
.card-comment::-webkit-scrollbar {
    width: 10px; 
}

/* 스크롤 바 색상 설정 */
.card-comment::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #D9D9D9; 
}

.user-information {
    display: flex;
    justify-content: space-between;
}

.comment-count {
    font-family: HancomMalangMalang;
    font-size: 10px;
    color: #404040;
}

.users {
    display: flex;
    flex-direction: row;
}

.nickname {
    font-family: NotoSansKR;
    font-weight: bold;
    font-size: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 0px 0px;
}

.likes {
    display: flex;
    flex-direction: row;
}

.like {
    padding: 0px 0px 0px 5px;
    font-size: 8px;
    font-family: NotoSansKR;
}

.content {
    font-family: NotoSansKR;
    font-size: 10px;
    color: #404040;
    padding: 3px 0px 0px 0px;
}

.comment-date {
    font-size: 8px;
    color: #B3B3B3;
    padding: 3px 0px 0px 0px;
}

.margin {
    margin-top: 93px;
}

/* 삭제 모달창 */
.button_delete_modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 390px;
    height: 100vh;
    overflow: auto;
    background: rgba(217, 217, 217, 0.70);
}

.button_delete_modal_content {
    margin: auto;
    display: block;
    width: 237px;
    height: 108px;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    margin-top: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button_delete_modal_content_line {
    width: 237px;
    height: 1px;
    background-color: rgba(204, 204, 204, 1);
    position: absolute;
    top: 30px;
}

.button_delete_modal_content_img {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 20px;
}

.button_delete_modal_content_message {
    color: #000;
    font-size: 10px;
    font-family: NotoSansKR;
    position: absolute;
    top: 55px;
    right: 20px;
}

.button_delete_content_title {
    position: absolute;
    left: 16px;
    top: 8px;
    color: #000;
    text-align: center;
    font-size: 11px;
    font-family: NotoSansKR;
}

.button_delete_content_close {
    color: rgba(0, 0, 0, 1);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 11px;
    right: 18px;
    font-size: 28px;
    cursor: pointer;
}