@font-face {
    font-family: HancomMalangMalang; 
    src: url("../fonts/HancomMalangMalang-Regular.woff");
}

@font-face {
    font-family: HancomMalangMalang; 
    src: url("../fonts/HancomMalangMalang-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: NotoSansKR; 
    src: url("../fonts/NotoSansKR-Regular.woff");
}

@font-face {
    font-family: NotoSansKR; 
    src: url("../fonts/NotoSansKR-Bold.woff");
    font-weight: bold;
}

/* NanumSquareNeo */

@font-face {
    font-family: NanumSquareNeo-light; 
    src: url("../fonts/NanumSquareNeoTTF-aLt.woff");
}

@font-face {
    font-family: NanumSquareNeo-regular; 
    src: url("../fonts/NanumSquareNeoTTF-bRg.woff");
}

@font-face {
    font-family: NanumSquareNeo-bold; 
    src: url("../fonts/NanumSquareNeoTTF-cBd.woff");
}

@font-face {
    font-family: NanumSquareNeo-Extra-bold; 
    src: url("../fonts/NanumSquareNeoTTF-dEb.woff");
}

@font-face {
    font-family: NanumSquareNeo-900; 
    src: url("../fonts/NanumSquareNeoTTF-eHv.woff");
}

body {
    background: #fcfaf7;
    margin: 0;
    min-height: 844px;
}

.root {
    display: flex;
    width: 390px;
    /* min-height: 653px; */
    position: relative;
    min-height: 100vh;
    flex-direction: column;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 218, 175, 0.5);
    width: 390px;
    padding: 18px 0px 18px 0px;
}



.navbar__logo img {
    width: 82px;
    height: 32px;
    margin-left: 26px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    font-size: 10px;
}

.navbar__menu a {
    text-decoration: none;
    font-family: "HancomMalangMalang";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #814e01;
}

.navbar__menu li {
    display: flex;
    padding-left: 28px;
    align-items: center;
}


.navbar__menu li:nth-child(4) {
    padding-left: 37px;
}

.navbar__menu i::before {
    font-size: 20px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 390px;
    height: 100px;
    bottom: 0;
    left: 0px;
    font-size: 6px;
    font-family: 'NotoSansKR';
    background: rgba(255, 218, 175, 0.5);
    color: #404040;
}

/* 드롭다운 */
.navbar li ul {
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:auto;

    border:0px;
    position:absolute;
    right: 0px;
    top: 72px;
    height: 40px;
    z-index:200;

    color: #814E01;

    font-size: 10px;
    font-family: HancomMalangMalang;
    font-weight: 700;
}

li .dropdown {
    background: rgba(255, 218, 175, 0.5);
    padding:5px;
    width:60px;
    height: 25px;
    display: flex;
    justify-content: center;
}
